      <a href="/"><div class="svg-logo">admataz</div></a>
      <div id="blocks"></div>
      <div class="container">
        <ul><li><a href="/">admataz.com</a></li><li><a href="/articles">articles</a></li><li>{{docs.page.meta.title}}</ul>
        <div id="content-main">
        {{{docs.page.html}}}
        </div>
        <div class="footer">
        </div>
      </div>

