      <a href="/"><div class="svg-logo">admataz</div></a>
      <div id="blocks"></div>
      <div class="container">
        
        {{{page.html}}}
      
        <div class="footer">
         <p>{{ global.footer_text }}</p>
        </div>
      </div>

