      <a href="/"><div class="svg-logo">admataz</div></a>
      <div id="blocks"></div>
      <div class="container">
        <div id="content-main">
        
        {{{docs.page.html}}}
        {{{customBuild.prerendered.case_studies}}}
        </div>
        <div class="footer">
         <p>{{ data.common.about_text }}</p>
         <p>{{ data.common.get_in_touch_text }}</p>
        </div>
      </div>

