    <h1><a href="/"><div class="svg-logo">admataz</div></a></h1>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">
          {{{docs.page.html}}}
          <h3>We work with some great clients...</h3>
        <div id="info-x" class="cf">
            {{{ elements.clientList }}}
        </div>
        
      </div>
    </div>
    <div class="container">

     <div class="footer">
         {{!-- <p>{{ data.common.about_text }}</p> --}}
         <p>{{ data.common.get_in_touch_text }}</p>
        </div>
    </div>
