<a href="/"><div class="svg-logo">admataz</div></a>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">
        <div class="intro">{{ page.intro }}</div>
        <div id="info-x" class="cf">
          <!-- <h1>Made with code</h1> -->
          <h1>Working with great clients...</h1>
          <ul class="cf">
            <li>
              <div class="project-info">
              <h3>The Elders</h3>
                <blockquote>
                  The Elders is an independent group of global leaders who work together for peace and human rights.
                </blockquote>
                <p>The Elders' website is built with <strong>Drupal</strong> and extended with custom modules developed by admataz.</p>
                <a href="http://theelders.org/" target="_blank" class="project-url">theelders.org</a>
              </div>
              <a href="#"><img src="assets/images/client_avatars/theelders.jpg" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
              <h3>Africa Check</h3>
                <blockquote>
                  Africa Check is a non-profit organisation which promotes accuracy in public debate.
                </blockquote>
                <p>
                <a href="http://africacheck.org" target="_blank">Africa Check</a>
                was announced as the runner-up in the Highway Africa New Media awards innovative African Newsroom category.
                </p>
                <p>
                This is a <strong>WordPress</strong> site, made in partnership with <a href="http://longwhitedigital.co.uk" target="_blank">Long White Digital</a>.
                </p>
                <a href="http://africacheck.org/" target="_blank" class="project-url">africacheck.org</a>
              </div>
              <a href="#"><img src="assets/images/client_avatars/africa-check.png" alt="" width="128px"></a>
            </li>
            <li>
             
              <div class="project-info"> 
              <h3>Bookswarm</h3>
              </div>
              <a href="#"><img src="assets/images/client_avatars/bookswarm.png" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
              <h3>Kofi Annan Foundation</h3>
                <blockquote>
                  The Kofi Annan Foundation aims to promote better global governance and strengthen the capacities of people and countries to achieve a fairer, more secure world.
                </blockquote>
                <p>
                The Kofi Annan Foundation is a <strong>Drupal</strong>-powered site.
                </p>
                <a href="http://kofiannanfoundation.org/" target="_blank" class="project-url">kofiannanfoundation.org</a>
              </div>
              <a href="#"><img src="assets/images/client_avatars/kofiannan.jpg" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info"><h3>Topshop</h3></div>
              
              <a href="#"><img src="assets/images/client_avatars/topshop.jpg" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info"><h3>NOW: Pensions</h3></div>
              
              <a href="#"><img src="assets/images/client_avatars/nowpensions.jpg" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
              <h3>Marie Stopes International</h3>

                <blockquote>
                  Marie Stopes place great emphasis on using evidence to continually monitor and evaluate the effectiveness of their health programmes.
                </blockquote>
                <p>
                <strong>admataz</strong> developed interactive data visualisations and charts for Marie Stopes' global web site. Using <strong>Dojo Toolkit</strong> (JavaScript) for the visualisation, we also developed content management tools integrated with <strong>Drupal</strong> for ongoing publication of the charts.
                </p>
                <a href="http://mariestopes.org/data-research/graphs" target="_blank" class="project-url">mariestopes.org/data-research/graphs</a>
              </div>
              <a href="#"><img src="assets/images/client_avatars/mariesstopes.png" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
              <h3>National Housing Federation</h3>

                <blockquote>
                  The National Housing Federation is the voice of affordable housing in England. We believe that everyone should have the home they need at a price they can afford.
                </blockquote>
                <p>
                <strong>admataz</strong> developed tools to overlay a choropleth map on a Google Map of the UK. NHF staff can upload their statistical data and it is combined with polygon geodata for political regions. The tools allow the choice of colour scheme and integration with Engaging Networks campaigns.
                </p>
                <a href="http://www.housing.org.uk/interactive-map-applications-for-discretionary-housing-payment" target="_blank" class="project-url">NHF Interactive map</a>
              </div>
              <a href="#"><img src="assets/images/client_avatars/nhf.jpg" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
                <h3>Nimbletank</h3>

              </div>
              
              <a href="#"><img src="assets/images/client_avatars/nimbletank.png" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
                <h3>The App Business</h3>

              </div>
              
              <a href="#"><img src="assets/images/client_avatars/theappbusiness.png" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
                <h3>33 Digital</h3>
              </div>
              
              <a href="#"><img src="assets/images/client_avatars/33_digital_logo.png" alt="" width="128px"></a>
            </li>
            <li>
              <div class="project-info">
              <h3>Anywhere Working</h3>
              </div>
              
              <a href="#"><img src="assets/images/client_avatars/anywhereworking.jpg" alt="" width="128px"></a>
            </li>
          </ul>
        </div>
        <p>If you have the vision and you need the technical know-how to make it happen, get in touch:
        <br/>
        Adam Davis. adam@admataz.com +44 7757 234443 </p>
      </div>
    </div>
    <div class="container">
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Web development case studies</a></h3>
          <ul>
            <li><a href="a">Article list tag filter in Drupal</a></li>
            <li><a href="b">Calculating the best personality profile matches in a javascript quiz app</a></li>
            <!-- <li><a href="c">Staging content and managing publication of content to live using Drupal</a></li>
            <li><a href="d">Drupal as the CMS for a restful API for an iPhone App</a></li>
            <li><a href="#">Migrating a large active and customised Drupal 6 site to Drupal 7</a></li> -->
          </ul>
          <a  class="morelink" href="case-studies">more case studies</a>
        </div>
      </div>
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Recent work</a></h3>
          <ul>
            <li><a href="a">The Elders</a></li>
            <li><a href="a">Kofi Annan Foundation</a></li>
            <li><a href="a">Africa Check</a></li>
            <li><a href="a">National Housing Federation</a></li>
            <li><a href="a">NOW: Pensions</a></li>
            <li><a href="a">Topshop</a></li>
          </ul>
          <a  class="morelink" href="client-list">full work history</a>
        </div>
      </div>
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Ideas, Code &amp; experiments</a></h3>
          <ul>
            <li><a href="a">Code, beauty, art - a short essay on the aesthetics of code</a></li>
            <li><a href="a">Nodebots London</a></li>
          </ul>
          <a  class="morelink" href="articles">more</a>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="bower_components/snap.svg/dist/snap.svg.js"></script> -->
    <script src="js/admataz_svg_logo.js"></script>
    <script src="js/admataz_blocks.js"></script>
    <script>
    
    </script>