<a href="/"><div class="svg-logo">admataz</div></a>
    <div id="blocks"></div>
    <div class="container one-col">
      <div id="content-main">
        <div class="intro">{{ page.intro }}</div>
        <div id="info-x" class="cf">
          <!-- <h1>Made with code</h1> -->
          
          {{{docs.page.html}}}

          <h1>Working with great clients...</h1>
            
            {{{ elements.clientList }}}
      
        </div>
        <p>{{{data.common.about_text}}}</p>
      </div>
    </div>
    <div class="container">
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Web development case studies</a></h3>
          <ul>
            <li><a href="a">Article list tag filter in Drupal</a></li>
            <li><a href="b">Calculating the best personality profile matches in a javascript quiz app</a></li>
            <!-- <li><a href="c">Staging content and managing publication of content to live using Drupal</a></li>
            <li><a href="d">Drupal as the CMS for a restful API for an iPhone App</a></li>
            <li><a href="#">Migrating a large active and customised Drupal 6 site to Drupal 7</a></li> -->
          </ul>
          <a  class="morelink" href="case-studies">more case studies</a>
        </div>
      </div>
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Recent work</a></h3>
          <ul>
            <li><a href="a">The Elders</a></li>
            <li><a href="a">Kofi Annan Foundation</a></li>
            <li><a href="a">Africa Check</a></li>
            <li><a href="a">National Housing Federation</a></li>
            <li><a href="a">NOW: Pensions</a></li>
            <li><a href="a">Topshop</a></li>
          </ul>
          <a  class="morelink" href="client-list">full work history</a>
        </div>
      </div>
      <div class="nav-panel">
        <div class="nextlink-panel">
        <h3 class="nextlink"><a href="article.html">Ideas, Code &amp; experiments</a></h3>
          <ul>
            <li><a href="a">Code, beauty, art - a short essay on the aesthetics of code</a></li>
            <li><a href="a">Nodebots London</a></li>
          </ul>
          <a  class="morelink" href="articles">more</a>
        </div>
      </div>
    </div>
  