.articles-list {
  .article{
    margin-bottom:1em;
    .datestamp{
      font-size:12px;
      color:#999;
    }
    h3{
      a{
      color:#000;
      text-decoration: none;
      font-family: "museo-slab",serif;
      }
      a:hover{
        color:#c30;
      }
    }
    p{
      margin:0;
      font-size:14px;
    }
  }

}