@font-face {
    font-family: 'TravelingTypewriter';
    src: url("../assets/fonts/Traveling _Typewriter/travelingtypewriter.eot");
    src: url("../assets/fonts/Traveling _Typewriter/travelingtypewriter.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Traveling _Typewriter/travelingtypewriter.woff") format("woff"), url("../assets/fonts/Traveling _Typewriter/travelingtypewriter.ttf") format("truetype"), url("../assets/fonts/Traveling _Typewriter/travelingtypewriter.svg#TravelingTypewriter") format("svg");
}


body {
    color: #333;
    margin: 0;
    padding: 0;
    background: url(../assets/images/stereo-graticule2.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: -300px -100px;
    // font-family: 'TravelingTypewriter', 'American Typewriter', 'Courier New', serif;
    font-family: "museo-slab",serif;

}

h1, h2, h3, h4 {
    /*          margin:0; */
    font-family: 'TravelingTypewriter', 'American Typewriter', 'Courier New', serif;

}
h1{
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: .5em 0;
    color: #c30;
    line-height: 130%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

p {
    padding: 0;
    margin: .4em 0 1em 0;
}

h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

h3 a {}

code {
    font-family: 'TravelingTypewriter', 'American Typewriter', 'Courier New', serif;
    color: #333;
    font-weight: bold;
    padding: 2px;
    background-color: rgba(204, 204, 204, 0.5);
}

.cf:before, .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}